# {{ ansible_managed }}
{% for config_line in rsyslog_daemon_config_merged %}
{%   set line = config_line | trim %}
{%   if line and not line.startswith('#') %}
{{ config_line }}
{%   endif %}
{% endfor %}
